html{
    background-color: #7a6bb4;
    font-family: montserrat,sans-serif;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    flex-direction: column;
    position: relative;
    bottom: 50px;
}

.container h2 {
    color: #845BB3;
    position: relative;
    bottom: 23px;
    font-weight: 500;
}

.box-form {
    background-color: rgb(247, 247, 247);
    border-radius: 5px;
    padding: 4rem;
}

form label, input {
    margin-top: 5px;
    margin-bottom: 10px;
}

form input {
    width: 50%;
    border-radius: 8px;
    border: 1px solid #dadce0;
    padding: 2px;
    padding-left: 10px;
}

button {
    margin-top: 5px;
    background-color: green;
    color: aliceblue;
    font-size: medium;
    border-radius: 8px;
    width: 33%;
    border: none;
} 